@import url('https://fonts.googleapis.com/css?family=EB+Garamond');
body{
    background-image: url('../img/bg.jpg');
    background-position: center;
    font-family: 'EB Garamond', serif;
}

img{
    margin: 1%;
}
#list span{
    background-color:yellow;
}
.posted{
    background-color: transparent !important;
}
.navigation{
    background-color: #111213;
    height: 110px;
}
.logo img{
/*    width: 100%*/
}
ul.navbar-nav li{
    font-size: 13px;
    margin-right: 10px;
    text-transform: uppercase;
}
ul.navbar-nav li a{
    color: white;
}
ul.navbar-nav li a:hover{
    text-decoration: none;
}
ul.navbar-nav li:last-child{
    margin-right: 0;
}
.search-box{
    float: right;
    height: 20px;
    border-radius: 50px;
    font-size: 10px;
    width: 13vw;
    background-color: white;
}
.search-icon{
    margin-left: 5px;
}
#search{
    border-style: none;
    padding-top: 3px;
}
.carousel-div{
    padding-right: 0;
    padding-left: 0;
}
.carousel-div img{
    margin: 0;
}
.quote{
    font-size: 30px;
    color: #a3a3a3;
    line-height: 1.2em
}
.quote-and-social{
    background-color: #111213;
    height: 150px;
}
.social img{
    float:right;
}
.content{
    background-color: white;
}
